body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    background: url("nyc.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

h1, h3 {
    color: #ffbd69;
}

.buffer {
    height: 3rem;
}

.btn {
    font-weight: 600;
    border-radius: 300px;
}

.btn:hover {
    background-color:#000000;
    color: white;
    border: black;
}

.btn-xl {
    padding: .5rem 1rem;
}

hr {
    margin: 20px auto;
    color: #ffbd69;
    border: 1px solid #ffbd69;
    max-width: 65px;
    opacity: 1;  
}